body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    padding: 30px 0 20px 0;
}
.titulo {
    color: #b17994;
    font-size: 2em;
    margin: 0;
}
.subtitulo {
    color: #b17994;
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 60px;
}
main {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotos {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
}
.fotos img {
    width: 30%;
    height: 180px;
}
.descripcion {
    max-width: 650px; 
    text-align: justify;
    line-height: 1.5;
    margin: 30px 0;
    padding: 0 20px;
    background-color: lightpink;
}
.botones {
    display: flex;
    gap: 50px; 
    margin-bottom: 50px;
}
.botones button {
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #496180;
    border: none;
}
footer {
    color: #b17994;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: auto; 
    padding-bottom: 20px;
}